<% book.comments.each do |book_comment| %>
<tr>
  <td>
    <%= link_to(book_comment.user) do %>
      <%= image_tag book_comment.user.get_profile_image, size: '50x50' %>
      <br><%= book_comment.user.name %>
    <% end %>
  </td>
  <td><%= book_comment.comment %></td>
  <td>
    <% if book_comment.user_id == current_user.id %>
     <%= link_to 'Delete' , "/books/#{book_comment.book_id}/comments/#{book_comment.id}", class: "btn btn-sm btn-danger", method: :delete, remote: true%>
    <% end %>
  </td>
</tr>
<% end %>